---
layout: layout.njk
---

<main class="page__main page-article">
    <article class="page-article__content article">
        {{ content | safe }}
    </article>

    <aside class="page-article__aside aside">
        <h2 class="visually-hidden">Дополнительно</h2>

        {% if author %}
            {% set authorData = null %}
            {% for person in collections.people %}
                {% if person.fileSlug == author %}
                    {% set authorData = person.data %}
                {% endif %}
            {% endfor %}

            <div class="aside__author author">
                <h3 class="author__heading">Автор:</h3>

                {% if authorData.photo %}
                    <p class="author__img">
                        <img
                            src="/people/{{ author }}/avatar.jpg"
                            srcset="/people/{{ author }}/avatar@2x.jpg 2x"
                            alt="{{ authorData.name }}"
                            width="80"
                            height="80"
                        >
                    </p>
                {% endif %}

                <p class="author__name">
                    {{ authorData.name }}
                </p>

                {% if authorData.url and authorData.site %}
                    <a href="{{ authorData.url }}" class="author__link" target="_blank" rel="noreferrer">
                        {{ authorData.site }}
                    </a>
                {% endif %}
            </div>
        {% endif %}

        <div class="aside__additional">
            <p class="aside__text">Нашли что поправить или дополнить?</p>
            <p class="aside__text">Вперед!</p>
            <a href="{{ global.github }}" class="aside__button button" target="_blank">Mentorium на GitHub</a>
        </div>
    </aside>
</main>
