---
layout: layout.njk
---

<main class="page__main page-article">
    <article class="page-article__content article">
        {{ content | safe }}
    </article>

    <aside class="page-article__aside aside">
        <h2 class="visually-hidden">Дополнительно</h2>

        {% if author %}
            <div class="aside__author author">
                <h3 class="author__heading">Автор:</h3>

                <picture class="author__img">
                    <img
                        src="/people/{{ author }}/avatar.jpg"
                        srcset="/people/{{ author }}/avatar@2x.jpg 2x"
                        alt=""
                        width="80"
                        height="80"
                    >
                </picture>

                <p class="author__name">{{ collections.people.[author].name }}</p>
                <a href="{{ collections.people.[author].url }}" class="author__link" target="_blank">{{ collections.people.[author].site }}</a>
            </div>
        {% endif %}

        <div class="aside__additional">
            <p class="aside__text">Нашли что поправить или дополнить?</p>
            <p class="aside__text">Вперед!</p>
            <a href="{{ global.github }}" class="aside__button button" target="_blank">Mentorium на GitHub</a>
        </div>
    </aside>
</main>
