---
layout: layout.liquid
---

<main class="page__main page-article">
    <article class="page-article__content article">
        {{ content }}
    </article>

    <aside class="page-article__aside aside">
        <p class="aside__text">Нашли что поправить или дополнить?</p>
        <p class="aside__text">Вперед!</p>
        <a href="{{ global.github }}" class="aside__button button" target="_blank">Mentorium на GitHub</a>
    </aside>
</main>
