<!DOCTYPE html>
<html lang="ru" class="page">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />

    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="page__body">
    <header class="page__header page-header">
        <a href="/" class="page-header__logo logo">
            <img class="logo__icon" src="/img/brain.svg" width="32" height="27" alt="" aria-hidden="true">
            Mentorium
        </a>
        <h1 class="page-header__heading">{{ title }}</h1>
    </header>

    {{ content | safe }}

    <footer class="page__footer page-footer">
        <div class="page-footer__text">
            <p>Site created by <a href="https://frontend-design.ru/" class="page-footer__link" rel="noreferrer">Artur Trifonov</a></p>
            <p>Logo icon created by Slowinski Paweł</p>
        </div>
        <a href="{{ global.github }}" class="page-footer__github" target="_blank" rel="noreferrer">View on GitHub</a>
    </footer>
</body>
</html>
