.page-header__logo {
    margin: -8px 0 24px -8px;
}

.page-header__heading {
    margin: 0;

    @include breakpoint(medium) {
        padding-right: 33%;
    }

    @include breakpoint(large) {
        padding-right: 46%;
    }
}
