.page-header__logo {
    margin-bottom: 32px;
}

.page-header__heading {
    margin: 0;

    @include breakpoint(medium) {
        padding-right: 33%;
    }

    @include breakpoint(large) {
        padding-right: 50%;
    }
}
