---
layout: index.liquid
title: Помощь для учащихся на курсах по HTML и CSS от html academy
---

<section class="articles">
    {%- for article in collections.articles %}

    <article class="articles__item">
        <h2 class="articles__heading">
            <a href="{{ article.url }}" class="articles__link">
                {{ article.data.title }}
            </a>
        </h2>
        
        <p class="articles__text">
            {{ article.data.description }}
        </p>

        <h3 class="visually-hidden">Теги</h3>
        <ul class="articles__tags tags">
            {%- for theme in article.data.themes %}
                <li class="tags__item">{{theme}}</li>
            {%- endfor %}
        </ul>
    </article>

    {%- endfor %}
</section>
