---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - article
    - articles
    - tagsList
  addAllPagesToCollections: true
layout: index.njk
permalink: /tags/{{ tag }}/
title: Помощь для учащихся на курсах по HTML и CSS от html academy
---

{% set activeTag = tag %}
{% include 'nav.njk' %}

{% set articleslist = collections[ tag ] %}
{% include "articleslist.njk" %}

