:not(pre) > code {
    margin: 0;
    padding: 3px 8px 4px 6px;

    color: $gray-900-color;
    background-color: $gray-100-color;
    border-radius: 5px;

    font-family: $font-family-monospace;
    font-size: 90%;
}

code[class*='language-'],
pre[class*='language-'] {
    font-family: $font-family-monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;

    hyphens: none;
}

pre[class*='language-'] {
    margin: 0 0 20px;
    padding: 20px 28px;

    background-color: $gray-100-color;
    border-radius: 5px;
}

.token {
    &.comment,
    &.prolog,
    &.doctype,
    &.cdata {
        color: slategray;
    }

    &.punctuation {
        color: $gray-500-color;
    }

    &.namespace {
        opacity: .7;
    }

    &.property,
    &.tag,
    &.boolean,
    &.number,
    &.constant,
    &.symbol,
    &.deleted {
        color: #905;
    }

    &.selector,
    &.attr-name,
    &.string,
    &.char,
    &.builtin,
    &.inserted {
        color: #690;
    }

    &.operator,
    &.entity,
    &.url,
    .language-css &.string,
    .style &.string {
        color: #9a6e3a;
    }

    &.atrule,
    &.attr-value,
    &.keyword {
        color: #07a;
    }

    &.function,
    &.class-name {
        color: #dd4a68;
    }

    &.regex,
    &.important,
    &.variable {
        color: #e90;
    }

    &.important,
    &.bold {
        font-weight: bold;
    }

    &.italic {
        font-style: italic;
    }

    &.entity {
        cursor: help;
    }
}
